{% extends "base.html" %}


{% block start %}


<div class="container mt-5">
 <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<h2>Update Books</h2><hr>
<div class="mb-3">
<label for="exampleInputEmail1" class="form-label">Book Name</label>
 <input name="book_name" value="{{book.book_name}}" required type="text" class="form-control">

</div>
<div class="mb-3">
 <label for="exampleInputPassword1" class="form-label">Book Description</label>
<textarea name="book_description" value="" name="book_description" required class="form-control" >{{book.book_description}}</textarea>
</div>
 <div class="mb-3">
 <label for="exampleInputEmail1" class="form-label">Book Image</label>
 <input name="book_image" type="file" class="form-control">

<br>
 </div>
<button type="submit" class="btn btn-primary" >Update Now</button>

 </form>
 
   

 </div>

  
   
  
{% endblock %}  



 in updatebooks.html